---
import { Icon } from "astro-icon/components";
---

<section id="container" class="h-svh">
	<div class="flex flex-col h-full p-4">
		<div
			class="flex flex-col h-full gap-4 justify-evenly md:justify-center md:gap-10"
		>
			<h2
				class="text-[#E89B33] text-4xl font-bold text-center md:text-7xl md:grow md:content-center lg:text-8xl"
			>
				Ventajas de construir con nosotros
			</h2>
			<div
				id="cards-container"
				class="flex flex-col text-center gap-6 md:h-[70svh] md:px-10 md:gap-20 lg:grid lg:grid-cols-2 grid-rows-2 lg:py-20 lg:px-40"
			>
				<div
					id="advantage-card"
					class="flex flex-col gap-4 md:gap-8 items-center lg:flex-row lg:items-start"
				>
					<div
						id="box-with-shadow"
						class="w-42 h-20 rounded-2xl flex md:w-80 md:h-32"
					>
						<span class="m-auto">
							<Icon
								name="mdi-light:clock"
								class="text-7xl md:text-8xl"
							/>
						</span>
					</div>
					<div class="text-black lg:text-left">
						<h3 class="text-2xl font-bold md:text-5xl">
							Lorem Ipsum
						</h3>
						<p
							class="px-4 md:text-3xl md:w-[545px] lg:w-[450px] lg:text-2xl lg:px-0 lg:py-2"
						>
							Vestibulum magna lectus, convallis ac laoreet a,
							gravida quis lorem.
						</p>
					</div>
				</div>
				<div
					id="advantage-card"
					class="flex flex-col gap-4 md:gap-8 items-center lg:flex-row lg:items-start"
				>
					<div
						id="box-with-shadow"
						class="w-42 h-20 rounded-2xl flex md:w-80 md:h-32"
					>
						<span class="m-auto">
							<Icon
								name="mdi-light:currency-usd"
								class="text-7xl md:text-8xl"
							/>
						</span>
					</div>
					<div class="text-black lg:text-left">
						<h3 class="text-2xl font-bold md:text-5xl">
							Lorem Ipsum
						</h3>
						<p
							class="px-4 md:text-3xl md:w-[545px] lg:w-[450px] lg:text-2xl lg:px-0 lg:py-2"
						>
							Vestibulum magna lectus, convallis ac laoreet a,
							gravida quis lorem.
						</p>
					</div>
				</div>
				<div
					id="advantage-card"
					class="flex flex-col gap-4 md:gap-8 items-center lg:flex-row lg:items-start"
				>
					<div
						id="box-with-shadow"
						class="w-42 h-20 rounded-2xl flex md:w-80 md:h-32"
					>
						<span class="m-auto">
							<Icon
								name="mdi-light:truck"
								class="text-7xl md:text-8xl"
							/>
						</span>
					</div>
					<div class="text-black lg:text-left">
						<h3 class="text-2xl font-bold md:text-5xl">
							Lorem Ipsum
						</h3>
						<p
							class="px-4 md:text-3xl md:w-[545px] lg:w-[450px] lg:text-2xl lg:px-0 lg:py-2"
						>
							Vestibulum magna lectus, convallis ac laoreet a,
							gravida quis lorem.
						</p>
					</div>
				</div>
				<div
					id="advantage-card"
					class="flex flex-col gap-4 md:gap-8 items-center lg:flex-row lg:items-start"
				>
					<div
						id="box-with-shadow"
						class="w-42 h-20 rounded-2xl flex md:w-80 md:h-32"
					>
						<span class="m-auto">
							<Icon
								name="mdi-light:credit-card"
								class="text-7xl md:text-8xl"
							/>
						</span>
					</div>
					<div class="text-black lg:text-left">
						<h3 class="text-2xl font-bold md:text-5xl">
							Lorem Ipsum
						</h3>
						<p
							class="px-4 md:text-3xl md:w-[545px] lg:w-[450px] lg:text-2xl lg:px-0 lg:py-2"
						>
							Vestibulum magna lectus, convallis ac laoreet a,
							gravida quis lorem.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	#box-with-shadow {
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50%);
	}

	@media only screen and (max-width: 410px) {
		#advantage-card {
			scale: 1;
		}
		#cards-container {
			gap: 10px;
			scale: 0.7;
			margin: -100px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
</style>
