---
import background from "../assets/logo-ACG.png";
---

<section id="container">
	<div
		class="flex flex-col p-4 h-[60svh] bg-[#DAC0A3] md:h-[70svh] lg:h-[80svh]"
	>
		<div class="m-auto md:flex md:flex-col">
			<h3
				class="text-3xl text-black font-semibold text-center md:text-7xl lg:text-6xl"
			>
				CONSTRUYE:
			</h3>
			<img src={background.src} class="w-72 md:w-3/4 md:self-center" />
			<div
				class="flex flex-col gap-1 text-xl text-center md:text-4xl md:gap-4"
			>
				<span>Casasmodulares@gmail.com</span>
				<span>(+57) 322 612 6541</span>
				<span>Instagram</span>
				<span>Facebook</span>
			</div>
		</div>
	</div>
</section>
