---
import background from "../assets/hero-background.webp";
---

<section id="container" class="h-svh">
	<div class="w-full h-full bg-black -z-10 absolute">
		<img
			src={background.src}
			alt="Casas modulares"
			class="w-full h-full object-cover opacity-60"
		/>
	</div>
	<div class="flex h-full p-4 md:p-4">
		<div
			class="m-auto flex flex-col gap-8 items-center md:gap-20 md:px-10 lg:gap-10 lg:items-start"
		>
			<h1
				class="text-5xl text-[#F5F5F5] font-bold text-center md:text-8xl md:text-left"
			>
				CASAS MODULARES
			</h1>
			<p
				class="text-xl text-[#F5F5F5] w-[20rem] md:text-5xl md:w-full lg:w-4/5 lg:text-3xl"
			>
				Vestibulum ipsum mauris, porttitor at felis ac, auctor tristique
				justo. Aenean eleifend erat dui, quis pellentesque massa
				malesuada eu. Morbi elementum id orci tincidunt dignissim.
				Vivamus ac justo vel nisl semper ornare ut non dolor.
			</p>
			<button
				class="text-2xl text-white border-4 border-[#F5F5F5] rounded-xl p-4 font-bold md:text-5xl md:p-8 md:self-start md:px-10 lg:text-4xl lg:font-normal lg:p-6 lg:w-92"
			>
				Contactanos
			</button>
		</div>
	</div>
</section>
